.banner-item-main {
    max-height: 280px;
}
.section-title-wrap.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px!important;
}
h1.title {
    font-size: 30px;
    color: black!important;
}