.section {
    padding: 20px 0;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
  }

  .sub-title {
    font-size: 16px;
    color: #555;
  }

  .title {
    font-size: 24px;
    color: #333;
  }

  .faq-accordion {
    margin-top: 20px;
  }

  .accordion {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .accordion-item {
    margin-bottom: 10px;
  }

  .accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    text-decoration: none;
  }

  .accordion-title:hover {
    background-color: #e7e7e7;
  }

  .accordion-number {
    margin-right: 10px;
  }

  .accordion-content {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 2px solid #ddd;
    border-radius: 0 0 5px 5px;
  }

  .accordion-content.show {
    display: block;
  }

  .arrow {
    font-size: 12px;
    margin-left: 20px;
    transition: transform 0.3s ease;
    width: 10px;
    height: 10px;
    border: solid #333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }

  .arrow-right {
    transform: rotate(45deg);
  }

  .arrow-down {
    transform: rotate(135deg);
  }
  /* search-results.component.scss */

.search-results {
    background-color: #ffffff;
    color: #a1a1a1;
    padding: 20px;
    font-family: Arial, sans-serif;

    h2 {
      color: #3e3e3e;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: normal;
    }

    .search-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      span {
        font-size: 14px;
        color: #999;
        cursor: pointer;

        &:hover {
          color: #353535;
          text-decoration: underline;
        }
      }
    }
  }

