.banner-item-main {
    max-height: 280px;
}
.section-title-wrap.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px!important;
}
h1.title {
    font-size: 30px;
    color: black!important;
}


a.refund_policy {
    font-size: 14px;
    color: #ec3539;
    text-decoration: underline;
    font-weight: 400;

}

.refund-button {
    text-align: center;
    padding-left: 14px;
}

h2.ref_head {
    font-size: 14px;
    color: #ed3539;
    text-decoration: none;
    margin-bottom: 0px;
}